AZURE_SPEECH_KEY=28faqRTNCNibVfWOTJe3cNRUiUJEpTcelPyxV2TvQqHhmKTay1udJQQJ99CCAC5RqLJXJ3w3AAAYACOGZJNK
AZURE_SPEECH_REGION=westeurope
PORT=3000

AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=m346blob;AccountKey=LfUwy5bPxCEHq1nzQkuoKmA2dY59jTkSk/a7C+lG7cv21AiFGUISpal5n/ADoIgm2pTJ/SjjArox+AStWcXVCw==;EndpointSuffix=core.windows.net
